name: Login-Demo
on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push (demo docker-login)
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: demo/login-demo:latest
